body { background: #e68002; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 42px; display: flex; }
.block-user-0 { color: #dde87b; font-size: 21px; margin-bottom: 5px; }
.block-user-1 { color: #72a6f4; font-size: 21px; margin-bottom: 5px; }
.block-payment-2 { color: #b5d499; font-size: 17px; margin-bottom: 5px; }
.block-invoice-3 { color: #216fa9; font-size: 13px; margin-bottom: 5px; }
.block-cart-4 { color: #b50e08; font-size: 21px; margin-bottom: 5px; }
.block-uploader-5 { color: #3d2b83; font-size: 14px; margin-bottom: 5px; }
.block-helper-6 { color: #2b3d3; font-size: 15px; margin-bottom: 5px; }